#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 400px;
    width: 290px;
    border: 2px solid black;
    border-radius: 12px;
    background: rgb(180, 178, 178);
}

h2{
line-height: 1rem;
}

input{
    height: 40px;
    width: 266px;
    border: 2px solid black;
    border-radius: 12px;
    outline-style: none
}

#table{
    margin: 8px 0px;
    padding: 12px 0px;
    border: 2px solid black;
    border-radius: 12px;
    background:rgb(241, 236, 236);
}

button{
    height: 40px;
    width: 60px;
    margin: 2px 1px;
    border: 2px solid rgb(170, 158, 158);
    border-radius: 12px;
    background: rgb(180, 178, 178);
    font-size: large;
    outline-style: none;
}

button:hover {
    background-color:rgb(107, 104, 104);
    color:white;
}

button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}